#red {
    color: rgb(211, 27, 27);
}

img {   
    float: right;
}
#tm{
    font-family: 'Merienda', cursive;
    float: left;
}

a:hover {
    background-color: rgb(34, 224, 224);
}

body {
    margin: 0;
    left: 0;
    height: 100%
}
.nav {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px 16px;
    background-color: red;
    text-align: center;
    text-decoration: none;
}


/*font-family: 'Oswald', sans-serif;*/